{% extends 'base.html.twig' %}

{% block title %}Détails de l'auteur{% endblock %}

{% block body %}
    {% if author is defined and author is not empty %}
        <h1>{{ author.username }}</h1>
        <img src="{{ author.picture }}" alt="{{ author.username }}" width="200">
        <p><strong>Email :</strong> {{ author.email }}</p>
        <p><strong>Nombre de livres :</strong> {{ author.nb_books }}</p>
    {% else %}
        <p>Auteur non trouvé.</p>
    {% endif %}
{% endblock %}
